code {
    color: #2563eb;
    background: #fbf7f8;
    margin: 2px;
}
.deflaut, pre {
    margin: 5px 0;
    padding: 5px;
}
.deflaut, code, pre {
    border: 1px solid #d6d6d6;
}

.post-block {
    opacity: 0.9;
}
/* Sidebar Opacity */
.sidebar {
    background-color: transparent;
    opacity: 0.9;
}
/* Menu Opacity */
.header-inner {
    background: rgba(255,255,255,0.9);
}
/* Search Opacity */
.popup {
    opacity: 0.9;
}
@font-face{
    font-family: 'sourcesans';
    src: url('/fonts/sourcesans.otf');   
}
@font-face{
    font-family: 'sourcecode';
    src: url('/fonts/sourcecode.ttf');   
}
.links-of-author-item a {
  display: flex !important;
  white-space: nowrap !important;
  overflow: visible !important;
  text-overflow: unset !important;
  max-width: none !important;
  justify-content: flex-start !important;
  align-items: center !important;
  text-align: left !important;
}
.post-body {
  min-height: 100vh !important;
}
.post-block {
  min-height: 130vh !important;
  }

